@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"); */

:root {
  margin: 0;
  box-sizing: border-box;
  padding: 1rem;

	font-family: "Roboto", sans-serif;
  color-scheme: light dark;

  --white-smoke: #f7f7f7;
  --engengrau: #0c1421;
  --medium-sapphire: #3b63a8;
  --aero: #7cb9f2;

  --low: #03a64a4a;
  --medium: #ffbb005c;
  --high: #f2310554;

  --to-do: #4f5766;
  --in-progress: #89c8ff;
  --done: #60d336a8;
}


/* CLASSES TAILWIND */
@theme {
  --text-tiny: .5rem;
  --spacing-tiny: .15rem; 

  --color-to-do: #4f576636; 
  --color-in-progress: #57aaf23b; 
  --color-done: #60d33636; 
}

@media(min-width: 800px) {
  :root {
    padding: 4rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--engengrau);
    background-color: var(--white-smoke);
  }

  a:hover {
    color: var(--aero);
  }

  button {
    background-color: var(--aero);
    color: var(--white-smoke);
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white-smoke);
    background-color: var(--engengrau);
  }

  a:hover {
    color: var(--aero);
  }

  button {
    background-color: var(--aero);
  }
}