@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"); */

:root {
  margin: 0;
  box-sizing: border-box;

	font-family: "Roboto", sans-serif;
  color-scheme: light dark;

  --white-smoke: #f7f7f7;
  --engengrau: #191919;
  --medium-sapphire: #3b63a8;
  --aero: #7cb9f2;

  --low: #03a64a4a;
  --medium: #ffbb005c;
  --high: #f2310554;

  --to-do: #4f5766;
  --in-progress: #5ca9ec;
  --done: #6fd34ba8;

  --color-close-modal: transparent !important;

  --color-modal-dark: #202020;
  --color-modal-light: #f0f0f0;

  .To-Do {
    background-color: var(--to-do);
    color: white;
  }

  .In-Progress {
    background-color: var(--in-progress);
    color: white;
  }

  .Done {
    background-color: var(--done);
    color: white;
  }

  .high {
    background-color: var(--high);
  }

  .medium {
    background-color: var(--medium);
  }

  .low {
    background-color: var(--low);
  }

  #dropdown {
    background-color: white;
    color: black;
  }
}

.bg-login {
  /* padding: 1rem; */
  position: relative;
  z-index: 0;
}

.bg-login::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/bg-login.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5; /* Define a opacidade da imagem de fundo */
  filter: blur(3px);
  z-index: -1;
}

/* CLASSES TAILWIND */
@theme {
  --text-tiny: .5rem;
  --spacing-tiny: .15rem;

  --spacing-mobile-modal: 90%;
  
  --spacing-modal: 30rem;
  --spacing-input-modal: 65%;

  --spacing-login-desktop: 100vh;
  --spacing-login-mobile: 100vh;
  --spacing-login-width: 30%;

  --color-engengrau: #191919;

  --color-to-do: #4f576638;
  --color-in-progress: #57aaf221;
  --color-done: #60d33621;
}

@media(min-width: 800px) {
  /* body {
    padding: 4rem;
  } */
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--engengrau);
    background-color: var(--white-smoke);
  }

  a:hover {
    color: var(--aero);
  }

  button {
    background-color: var(--aero);
    color: var(--white-smoke);
  }
  
  #modalNew {
    background-color: var(--color-modal-light);
  }

  .input-color {
    background-color: var(--color-modal-light);
  }

  .input-color:hover {
    background-color: #f7f7f7;
  }

  #closeModal {
    background-color: transparent;
    color: black;
  }

  #closeModal:hover {
    background-color: transparent;
    color: rgb(175, 175, 175);
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    margin-right: -.5rem;
    color: black;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white-smoke);
    background-color: var(--engengrau);
  }

  a:hover {
    color: var(--aero);
  }

  button {
    background-color: var(--aero);
  }
  
  #modalNew {
    background-color: var(--color-modal-dark);
  }

  .input-color {
    background-color: var(--color-modal-dark);
  }

  .input-color:hover {
    background-color: #282828;
  }

  #closeModal {
    background-color: var(--color-close-modal);
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    margin-right: -.5rem;
    color: black;
  }
}